<div>
    <h1>
        Bienvenido {{ name }}
   </h1>
   {{!-- script de socket.io --}}
   <script src="/socket.io/socket.io.js"></script>
    {{!-- JS del cliente  --}}
   <script src="/js/main.js"></script>
</div>